@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 16px;
  margin: 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 300px;
}

a {
  text-decoration: none;
  color: gray;
}

li {
  list-style: none;
}

.header .left-links {
  display: flex;
  gap: 16px;
}

.header .right-links {
  display: flex;
  gap: 16px;
  margin-right: 16px;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
}

.footer .left-links {
  display: flex;
  gap: 16px;
}

.footer .right-links {
  display: flex;
  gap: 16px;
  margin-right: 16px;
}

.content {
  text-align: center;
  margin-bottom: 380px;
}